<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sammy.tweetfeed">
    
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.TrendingListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.TrendingDetailActivity"
            android:label="@string/activity_title_detail"/>
        <activity android:name=".activities.TweetListActivity"
            android:label="@string/activity_title_tweet_list" />
        <activity android:name=".activities.ActivityGraphAnalysis"
            android:label="@string/activity_title_activity" />
        <activity android:name=".activities.SentimentGraphAnalysis"
            android:label="@string/activity_title_sentimental" />
        <activity android:name=".activities.ActivityGraphCompare"
            android:label="@string/activity_title_compare_activity" />
        <activity android:name=".activities.SentimentalGraphCompare"
            android:label="@string/activity_title_compare_sentimental" />
        <activity android:name=".activities.TrendingTopicsActivity"
            android:label="@string/activity_title_topics" />
    </application>

</manifest>